@model FileBox.Web.ViewModels.FilesInfoMapModel

@section main
{
    <h3>"@Model.FileName@Model.Extension" details</h3>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("UserLogin")
            </dt>

            <dd>
                @Html.ActionLink((string)ViewBag.UserLogin, "Details", "User", new { id = Model.UserInfoID }, null)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FileName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Extension)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Extension)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShortUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FileAccess)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FileAccess)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WasCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WasCreated)
            </dd>
            <dt>
                &nbsp;
            </dt>

            <dd>
                @Html.ActionLink("Download file", "Download", new{id=Model.FilesInfoID})
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FilesInfoID }) <span class="glyphicon glyphicon-edit"></span>|
        <span class="glyphicon glyphicon-chevron-left"></span>@Html.ActionLink("Back to List", "Index")
</p>
}
