@model IEnumerable<FileBox.Web.ViewModels.FilesInfoMapModel>



@section main{
    <h3>Uploaded files</h3>
    <hr/>
    <table class="table table-user-information">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileAccess)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileAccess)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.FilesInfoID}) <span class="glyphicon glyphicon-edit"></span> |
                    @Html.ActionLink("Details", "Details", new {id = item.FilesInfoID}) <span class="glyphicon glyphicon-info-sign"></span> |
                    @Html.ActionLink("Delete", "Delete", new {id = item.FilesInfoID}) <span class="glyphicon glyphicon-remove-sign"></span>
                </td>
            </tr>
        }

    </table>
}