@model IEnumerable<FileBox.Web.ViewModels.FilesInfoMapModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
 
    <tr>
        <th>
            @Html.DisplayName("Author")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileAccess)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileAccess)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.FilesInfoID}) |
                @Html.ActionLink("Details", "Details", new {id = item.FilesInfoID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.FilesInfoID})
            </td>
        </tr>
    }

</table>
