@model FileBox.Web.ViewModels.UserInfoMapModel

@{
    ViewBag.Title = "Info";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

@section main{
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.FirstName&nbsp;@Model.LastName</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="~/Content/images/index.png" class="img-circle img-responsive">
                        </div>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Login:</td>
                                    <td>@Model.Login</td>
                                </tr>
                                <tr>
                                    <td>Account created:</td>
                                    <td>@Model.WasCreated</td>
                                </tr>
                                <tr>
                                    <td>User role:</td>
                                    <td>@Model.UserRole.Role</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:@Model.Email">@Model.Email</a></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    @if (ViewBag.IsAdmin == true)
                    {
                        <a href="@Url.Action("Index", new {area = "Admin", controller = "Home"})" type="button" class="btn btn-sm btn-primary">Go to admin page</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-sm btn-primary">Go to main page</a>
                    }

                    <span class="pull-right">
                    <a href="@Url.Action("Edit", "User", new {email = Model.Email})" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    <a href="@Url.Action("Delete", "User", new {id = Model.UserInfoID})" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                </span>
                </div>

            </div>
        </div>
    </div>
}

