@model FileBox.Web.ViewModels.UserInfoRegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
@section main{
    <div class="container">
        @using (Html.BeginForm("Register", "User", FormMethod.Post, new {@class = "form-signin"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.UserInfoID)

            <h2 class="form-signin-heading">Please register</h2>
            @Html.LabelFor(model => model.Login, new {@class = "sr-only"})
            @Html.TextBoxFor(model => model.Login, new {@class = "form-control", @placeholder = "Login", @required = "required", @autofocus = "autofocus"})
            @Html.ValidationMessageFor(model => model.Login, "", new {@class = "text-danger"})

            @Html.LabelFor(model => model.Email, new {@class = "sr-only"})
            @Html.TextBoxFor(model => model.Email, new {@class = "form-control", @placeholder = "Email address", @required = "required", @autofocus = "autofocus"})
            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})

            @Html.LabelFor(model => model.Password, new {@class = "sr-only"})
            @Html.PasswordFor(model => model.Password, new {@class = "form-control", @placeholder = "Password", @required = "required", @autofocus = "autofocus"})
            @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})

            <button type="submit" class="btn btn-primary btn-lg btn-block">
                Register
            </button>
        }
    </div>
}