@model FileBox.Web.ViewModels.UserInfoMapModel

@section main
{
    <h3>@Model.Login details</h3>
    <hr />
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WasCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WasCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserRole.Role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserRole.Role)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserInfoID }) <span class="glyphicon glyphicon-edit"></span>|
        <span class="glyphicon glyphicon-chevron-left"></span>@Html.ActionLink("Back to List", "Index")
    </p>
}
