@model FileBox.Web.ViewModels.FilesInfoAdminModel


<div class="modal-header">
    <button type="button" class="hide" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Edit file</h3>
</div>
<div>
    @using (Html.BeginForm("EditFile", "File", FormMethod.Post))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.FilesInfoID)
        @Html.HiddenFor(m=>m.UserInfoID)
        @Html.HiddenFor(m=>m.Extension)
        @Html.HiddenFor(m => m.ShortUrl)
        @Html.HiddenFor(m => m.WasCreated)
        <div class="modal-body">
            @Html.TextBoxFor(m=>m.FileName)
            @Html.CheckBoxFor(m => m.FileAccess)
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
